.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container>div
{
    flex-basis: calc(100%/5);
    border: 1px solid black;
    text-align: center;
    padding: 20px 30px;
    margin: 20px 10px;
}
.icon-name
{
    padding: 5px 0px;
    font-size: 10px;
}
.nav-2
{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 15px 0;
}
.icon-card.animal
{
 color: blue;
}
.icon-card.vegetable
{
 color: brown;
}
.icon-card.user
{
 color: darkcyan;
}

